<configuration scan="true" scanPeriod="10 seconds">
    <contextName>logback</contextName>

    <!-- Log pattern -->
    <property name="Log-Pattern" value="%date{yyyy-MM-dd hh:mm:ss} [%thread] %-5level %logger{36} - %msg%n" />

    <!-- Define log file paths -->
    <property name="File_Path_Sys" value="D:\\APPINSTIL\\idea\\workspace\\SGZN_Warning_Sys\\sws\\src\\main\\java\\log\\log.%d{yyyy-MM-dd}.%i.log" />
    <property name="File_Path_Warn" value="D:\\APPINSTIL\\idea\\workspace\\SGZN_Warning_Sys\\sws\\src\\main\\java\\warnlog\\log.%d{yyyy-MM-dd}.%i.log" />

    <!-- 控制台输出日志 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${Log-Pattern}</pattern>
        </encoder>
    </appender>

    <!-- 每天生成一个日志文件，保存30天的日志文件。rollingFile用来切分文件 -->
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${File_Path_Sys}</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 日志文件的最大大小 -->
                <maxFileSize>2MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- 超出删除老文件 -->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${Log-Pattern}</pattern>
        </encoder>
    </appender>

    <!-- 每天生成一个日志文件，保存30天的日志文件。rollingFile用来切分文件 -->
    <appender name="rollingFile_warn" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${File_Path_Warn}</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 日志文件的最大大小 -->
                <maxFileSize>2MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- 超出删除老文件 -->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${Log-Pattern}</pattern>
        </encoder>
    </appender>

    <!-- 项目默认日志级别 -->
    <logger name="SysWarn" level="INFO" >
        <appender-ref ref="rollingFile" />
    </logger>

    <logger name="WarnSever" additivity="false" level="INFO">
        <appender-ref ref="rollingFile_warn" />
    </logger>

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="rollingFile" />
    </root>
</configuration>
